.jumbotron
 {
  /* la hauteur ici */
  height: 700px;

  /* image de background */
  background-image: url("surfer0.jpg");

  /* Centre l'image et la met bien sur tous les écrans */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
